<form action="classify" method="POST">
  <div class="input-group input-group-newsletter">
    <input type="text" name= "data" class="form-control" placeholder="Enter a text..." aria-label="Enter email..." aria-describedby="basic-addon">
    <div class="input-group-append">
      <button class="btn btn-lg btn-secondary" type="submit">Classify!</button>
    </div>
  </div>
</form>
        